<div class="container-principal newProductForm mt-5">
  <div class="mx-5 mt-5">
    <h1>Add a new product:</h1>
  </div>

  <form id="productForm">
    <div class="mx-5 mt-2">
      <label for="Title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" placeholder="Title of the product" required />
    </div>
    <div class="mx-5 mt-2">
      <label for="Description" class="form-label">Description</label>
      <input type="text" class="form-control" id="description" placeholder="Describe the product" />
    </div>
    <div class="mx-5 mt-2">
      <label for="Price" class="form-label">Price</label>
      <input type="number" class="form-control" id="price" required />
    </div>
    <div class="mx-5 mt-2">
      <label for="Image" class="form-label">Image</label>
      <input type="file" class="form-control" id="image" />
    </div>
    <div class="mx-5 mt-2">
      <label for="Code" class="form-label">Code</label>
      <input type="text" class="form-control" id="code" placeholder="This format: C01" />
    </div>
    <div class="mx-5 mt-2">
      <label for="Status" class="form-label">Status</label>
      <select class="form-control" id="status" required>
        <option value="true">True</option>
        <option value="false">False</option>
      </select>
    </div>
    <div class="mx-5 mt-2">
      <label for="Stock" class="form-label">Stock</label>
      <input type="number" class="form-control" id="stock" placeholder="Enter the stock of the product" required />
    </div>
    <div class="mx-5 mt-2">
      <button class="btn btn-primary" type="submit">Add</button>
    </div>
  </form>
</div>

<script src="../public/js/products.js"></script>