<div class="register-container mt-5">
  <h2>Register Form</h2>
  <form action="/api/sessions/register" method="POST">
    <label for="first_name" class="form-label">Name:</label>
    <input type="text" name="first_name" class="form-control" required />
    <label for="last_name" class="form-label">Surname:</label>
    <input type="text" name="last_name" class="form-control" required />
    <label for="email" class="form-label">Email:</label>
    <input type="email" name="email" class="form-control" required />
    <label for="age" class="form-label">Age:</label>
    <input type="number" name="age" class="form-control" required />
    <label for="password" class="form-label">Password:</label>
    <input type="password" name="password" class="form-control" required />
    <button type="submit" class="btn btn-login">Register</button>
  </form>
</div>